/*--------------------------------------------------------------------------------------------------------------------*/
body{/*Fondo de pantalla*/
    background-color: #023C40;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.bajar{/*Bajar un poco el nav*/
    padding-top: 1rem;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.centrar_titulo{/*Centrar titulo Mega Games*/
    text-align: center;
    color: #AEB7B3;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.tamaño{/*tamaño carrusel*/
    max-height: 800px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.separar_items{/*Separar el navbar : inicio, nosotros, juegos, iniciar session, registrarse*/
    padding-right: 1rem;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.inicio{/*Padding-left : para que nos que tan pegado a la izquierda*/
    padding-left: 2rem;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.bordear{ /*Bordear fotos*/
    border-radius: 1rem;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.tam_foto{ /*Se ocupo para poner del mismo tamaño las mascotas en adopta.html*/
    height: 20rem;
    width: 100%;
}
.tamaño-card{
    width: 20rem;
}
.texto-card{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.btn:hover{ /*Diseño de lupa, carrito y perfil*/
    background-color: #023C40;
}
/*--------------------------------------------------------------------------------------------------------------------*/


.nav-nuevo{
    background-color:#AEB7B3;
    height: 50px;
    display: flex;
    justify-content: left;
}

.quitar-puntos{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.espacio-il{
    padding: 15px;
}
.color-il{
    text-decoration: none;
    color: black;
    font-size: bold;
}

.mover-derecha{
    margin-right: 10px;
}

.logo{
    display: inline-block;
    max-width: 75px;
    max-height: 75px;
    
}

.tam-fuente{
    font-size: 1.5rem;
}

.tam-titulo{
    font-size: 4rem;
}
.tam-titulo2{
    font-size: 3rem;
}

.color-fondo{
    background-color: #22333B;
}

.display-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cambiar-texto-footer{
    list-style-type: none;
    padding: 0;
}
.quitar-azul{
    text-decoration: none;
    color: white;
}
.quitar-azul2{
    text-decoration: none;
    color: #AEB7B3;
}

.color-blanco{
    margin-bottom: 2rem;
    color: white;
}
.color-blanco2{
    color: white;
}

.alinear-centro{
    text-align: center;
}

.borde-derecha{
    border-right: 2px solid #AEB7B3;
    padding-right: 10vw;
}

.color-distinto{
    color: #AEB7B3;
}

.color-distinto-tras{
    color: rgba(217, 217, 217, 0.5);
    margin: 0;
}